// modules style
@import "antd/dist/antd.css";
// essentials
@import "./variables";
@import "./default";
@import "./common";
// components style
@import "../components/MainLayout/styles.scss";
// pages style
@import "../pages/Home/styles.scss";
@import "../pages/Management/styles.scss";
@import "../pages/Menu/styles.scss";
