#btnControl {
  display: none;
}

#btnControl:checked + label {
  font-size: 25px;
}

#btnControl:checked + .css-menu__main {
  transform: translateY(0);
}

.css-menu {
  overflow: hidden;

  &__button {
    width: 40px;
    background-color: #7a7a7a;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    
    &__dash {
      width: 70%;
      height: 4px;
      border-radius: 10px;
      background-color: #000;

      &:first-of-type {
        margin-bottom: 2px;
      }
    }
  }

  &__main {
    margin: 20px 50px;
    transform: translateY(-100%);
    transition: all 0.5s;
  }

  &__item {
    height: 40px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 20px;
    
    &__wrapper {
      // transform: translateY(-100%);
      // transition: all 0.5s;
    }
  }
}

.open {
  .css-menu__button {
    opacity: .7;
  }

  .css-menu__item__wrapper {
    transform: translateY(0%);
  }
}